@import '../../_global';

@mixin layout {
  @include bp-down('xs') {

  }

  @include bp-up('xs') {
    .view-home-page-head-block {
      display: flex;
      flex-wrap: nowrap;
    }

    .first-content > .view-content {
      flex: 0 1 70%;
    }

    .attachment-after {
      flex: 0 1 30%;
      padding: 0 25px;
    }
  }
}

@mixin tags {
  .views-field-field-tags {
    margin: 5px 0;

    a {
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 400;
      font-size: .65rem;
      color: $white;
      padding: .12rem .2rem;
      background: $purple;
    }
  }
}

@mixin title($font-size: 2rem, $is_attachment: false) {
  font-family: 'Gelasio', serif;
  line-height: 1.1;

  @if $is_attachment {
    .views-row:hover {
      .views-field-title {
        a {
          color: $purple;
        }
      }
    }
  } @else {
    &:hover {
      .views-field-title {
        a {
          color: $purple;
        }
      }
    }
  }

  @include bp-down('xs') {
    .views-field-title {
      font-size: 1.15rem;
      margin: 8px 0 4px 0;
    }
  }

  @include bp-up('xs') {
    .views-field-title {
      font-size: $font-size;
      margin: 12px 0 8px 0;
    }
  }
}

/*
  Custom text field with `username - content pubdate`
 */
@mixin content_data {
  .views-field-nothing {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: .75rem;
  }

  @include bp-down('xs') {
    .views-field-nothing {

    }
  }

  @include bp-up('xs') {
    .views-field-nothing {

    }
  }
}

@mixin image {
  @include bp-down('xs') {
    .views-field-field-image-1 {
      margin: 8px 0 0 0;

      img {
        width: 100%;
      }
    }
  }

  @include bp-up('xs') {
    .views-field-field-image-1 {
      margin: 13px 0 0 0;
    }
  }
}

@mixin body {
  .views-field-body {
    strong {
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 400;
      font-size: .8rem;
    }

    @include bp-down('xs') {
      margin: 8px 0;
    }

    @include bp-up('xs') {
      margin: 12px 0;
    }
  }
}
