@mixin default($width: 200px, $border: true) {
  padding: 25px;

  @if $width {
    width: $width;
  }

  @if $border {
    border: 0.05rem solid rgba(100, 100, 100, 0.1);
  }

  @media screen and (max-width: 600px) {
    width: auto;
    margin: 10px 0;
    padding: 20px 16px;
  }
}

@mixin block_title {
  h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.15rem;
    font-weight: 900;
    color: $purple;
    margin: 0 0 20px 0;
  }
}

@mixin other($color: $purple) {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    .views-field-title {
      a {
        color: $color;
      }
    }
  }
}

@mixin field_image($type, $circle: false, $margin-left: null) {
  .views-field-field-image {
    @if $circle {
      img {
        border-radius: 1337px;
      }
    }

    @if $margin-left {
      margin-left: $margin-left;
    }

    @media screen and (max-width: 600px) {
      @if $type == "wide" {
        img {
          width: 100%;
        }
      }

      @if $type == "small" {
        margin-left: auto;
      }
    }
  }
}

@mixin field_title($color: $black) {
  .views-field-title {
    a {
      font-family: 'Gelasio', sans-serif;
      font-weight: 500;
      font-size: .85rem;
      color: $color;
    }
  }
}

@mixin field_created {
  .views-field-created {
    span {
      font-style: oblique;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: .75rem;
    }
  }
}

@mixin two_columns {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-auto-flow: row dense;

  .views-field-created {
    grid-column: auto/span 2;
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: 70% 30%;
  }
}

@mixin button {
  .view-footer {
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;

    & a span {
      background: $black;
      color: $white;
      padding: 8px 24px;
      border-radius: 4px;
      font-size: .8rem;
      transition: background 0.5s;

      &:hover {
        background: $purple;
      }
    }
  }
}
