@import '../../../_global';

@mixin reset {
  border: none!important;
}

@mixin layout {
  margin: 30px 0 0 0;

  .views-row {
    @include bp-down('xs') {
      margin: 30px 0;
    }
    @include bp-up('xs') {
      margin: 12px 0;
    }
  }
}

@mixin section_title {
  .view-header {
    position: relative;

    p {
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 900;
      font-size: 1.2rem;
      color: $purple;
      text-transform: none;
      border-bottom: none;
      margin: 0;
      padding: 11px 14px;
      position: relative;
      z-index: 1;
    }

    &:before {
      content: 'LATEST';
      position: absolute;
      left: 0;
      bottom: 0;
      color: rgba(206,203,194,0.3);
      font-size: 3.6rem;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 700;
      line-height: 1;
      z-index: 0;

      @include bp-up('xs') {
        font-size: 4.8rem;
      }
    }
  }
}

@mixin content_image($img: None) {
  .views-field-field-image {
    a {
      @include reset;
    }

    @if $img == 'small' {
      img {
        object-fit: cover;
        width: 100px;
        height: 100px;
      }
    }
  }
}

@mixin content_title($size, $border: true) {
  .views-row:hover {
    .views-field-title {
      a {
        color: $purple;
      }
    }
  }

  .views-field-title {
    @include bp-down('xs') {
      padding-top: 6px;
    }
    @include bp-up('xs') {
      padding-top: 12px;
    }

    @if $border {
      border-top: .15rem solid rgba(200, 200, 200, .35);
    }

    a {
      @include reset;

      font-family: 'Gelasio', sans-serif;
      font-weight: 500;
      font-size: $size;
      color: $black;
    }
  }
}

@mixin content_info {
  .views-field-nothing {
    margin-top: 5px;
    font-style: oblique;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: .75rem;

    a {
      @include reset;

      color: $black;
    }
  }
}

@mixin body($body) {
  @if $body {
    .views-field-body {
      margin-top: 10px;

      strong {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: .75rem;
        font-weight: 400;
      }
    }
  }
  @else {
    @include bp-down('xs') {
      .views-field-body {
        display: none;
      }
    }
  }
}

@mixin columns($count) {
  .views-row {
    display: flex;
    flex-direction: column;

    @if $count == 1 {
      justify-content: center;
      flex-wrap: nowrap;
      height: auto;

      .views-field-field-image {
        width: 100%;
      }
    }
    @else if $count == 2 {
      justify-content: flex-start;
      flex-wrap: wrap;

      @include bp-down('xs') {
        height: 100px;

        .views-field-field-image {
          width: 30%;
        }

        .views-field-title, .views-field-nothing, .views-field-body {
          width: 65%;
        }
      }

      @include bp-up('xs') {
        height: 180px;

        .views-field-field-image {
          width: 40%;
        }

        .views-field-title, .views-field-nothing, .views-field-body {
          width: 55%;
        }
      }

      .views-field-title, .views-field-nothing, .views-field-body {
        margin-left: 5%;
        border-box: box-sizing;
      }
    }
  }
}
