@import '../../../_global';

/*
           Politics section
 */

.block-views-blockpolitics-content-block-block-1 {
  @include PS_title;
  @include field_info;
  @include layout_columns(2);

  @include block_margins;
  @include bartik_reset_a;
  @include link_hover('.views-field-title');

  @include field_title(.85rem, .85rem) {
    .views-field-title {
      border-top: .05rem solid rgba(200, 200, 200, .35);
      margin-top: 0;
      padding-top: 8px;
    }

    @include bp-down('xs') {
      padding-top: 6px;
    }
    @include bp-up('xs') {
      padding-top: 12px;
    }
  }

  @include bp-down('xs') {
    @include field_image('small');
    @include field_body(false);
  }
  @include bp-up('xs') {
    @include field_image();
    @include field_body(true);
  }
}

/*
            Style section
 */

.view-style-content-block {
  @include PS_title;
  @include field_info;

  @include link_hover('.views-field-title');
  @include block_margins;

  .attachment-after {
    padding: 0;
  }
}

.first-content > .view-content {
  @include layout_columns(1);
  @include field_image;
  @include field_body;

  @include bartik_reset_a;

  @include field_title(1.2rem, 1rem) {
    @include bp-down('xs') {
      padding-top: 6px;
    }
    @include bp-up('xs') {
      padding-top: 12px;
    }
  }

  .views-row {
    margin-bottom: 16px;
  }
}

.second-content.view-style-content-block {
  @include layout_columns(2);
  @include bartik_reset_a;
  @include field_body(false);

  @include field_title(.85rem, .75rem, $border: true) {
    @include bp-down('xs') {
      padding-top: 6px;
    }
    @include bp-up('xs') {
      padding-top: 12px;
    }
  }

  @include bp-down('xs') {
    @include field_image('small');
    @include field_body(true);
  }

  .views-field-body {
    margin-top: 10px;

    strong {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: .75rem;
      font-weight: 400;
    }
  }
}
