@import '../../../../_global';

.node__content {
  .layout--threecol-section--33-34-33 {
    @include bp-up('xl') {
      margin: 30px -100px 30px -100px;
    }
  }
}

.block-views-blocksubscribe-to-our-newsletter-homepage-block-1 {
  @include flex_layout;
  @include media_title;

  .content {
    margin: 0;
  }

  .desc {
    margin: 12px 0 0 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: .75rem;
    color: $black;
  }
}
