@import '_variables';

/*
  Override default header background color
 */
#header {
  background: white;
  background-image: linear-gradient(#fff 0%);
}

header {
  & .region-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & #block-rebartik-weather {
      color: $cl_bl;
    }

    & .block-views-blocksite-logo-block-1 {
      color: $cl_bl;

      .view-id-site_logo {
        .views-row {
          display: flex;
          justify-content: center;
          flex-direction: column;
          text-align: center;
        }
      }
    }

    & .social-media-n-search {
      display: flex;

      & .block-views-blocksocial-media-block-1 {
        .view-content {
          display: flex;
        }
      }

      .block-views-blocksearch-button-block-1 {
        .view-id-search_button {
          img {
            width: 24px;
            height: 21px;
          }
        }
      }
    }
  }

  & .menu--main {
    ul.menu {
      display: flex;
      justify-content: center;
      font-weight: 700;

      .menu-item {
        a {
          &:hover {
            color: #631d9f;
          }
        }
      }
    }
  }
}
